<style>
  footer {
      color: #ffffff49;
  }
  

  footer #copyright {
      text-align: right;
  }

  footer p {
      font-size: .8em;
      margin: 0;
      margin-bottom: .3em;
  }

  footer a {
    font-size: .8em;
    margin: 0;
    margin-bottom: .3em;
  }

  #footer-logout {
      color: #fff;
      padding: .5em 1em !important;
      border-radius:10em;
      display: flex;
      gap: 1em;
      align-items: center;
      background: #ffffff1a;
  }

  #footer-logout:hover {
      background: #fff;
      color: #007bff !important;
  }
</style>

<footer>
    <div class="container flex justify-between items-end">
      <div id="copyright">
          <p>&copy; 2025 - Quad</p>
          <p>v0.0.2</p>
          <p>Kyle Pish</p>
          <p><span></span></p>
      </div>
  </div>
</footer>